<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <title>Check Website's Image Alt Tags</title>
    <meta charset="utf-8">
    <style>.red,.red a:link,.red a:visited,.red a:hover{color:red}.gray{color:gray}.left{text-align:left}body{font-family:sans-serif}a:link,a:visited{text-decoration:underline}a:hover{text-decoration:none}.res-nom{text-align:center;font-size:2em}.res-i{margin-bottom:3em}.res-i-tabl,.res-i-tabl td,.res-i-tabl th{border:1px solid #000;border-collapse:collapse}.res-i-tabl thead th{background-color:#000;color:#fff}.res-i-tabl td,.res-i-tabl th{padding:0.25em 0.5em}.res-foot{text-align:center}.res-btns{text-align:center}.form{text-align:center}.form-form{display:inline-block}.res-download{text-align:center;margin:0.5em 0}</style>
</head>
<body>
    {% block page %}{% endblock %}
</body>
</html>
