{% extends 'base.html.twig' %}

{% block page %}
    <article class="form">
        <header class="form-head">
            <h1 class="form-nom">Check the Alt Tags in a Website's Images</h1>
            <h2 class="form-nom2">Enter a Home Page URL</h2>
        </header>
        <form class="form-form">
            <input type="text" name="url" required="true">
            <input type="submit" value="Submit">
        </form>
    </article>
{% endblock %}
