{% extends 'base.html.twig' %}

{% block page %}
    <article class="form">
        <header class="form-head">
            <h1 class="form-nom">Check the Alt Tags in a Website's Images</h1>
            <h2 class="form-nom2">Enter a Home Page URL</h2>
        </header>
        <form class="form-form" id="form-form" name="form-form" method="post">
            <input id="form-url" type="text" name="url" required="true">
            <input type="submit" value="Submit" id="form-submit">
            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
        </form>
    </article>

<script src="https://www.google.com/recaptcha/api.js?render=6LdgGqIUAAAAAHpdLVgWjqNXRnedKs6eYt3pa8OK"></script>
<script>
    var form = document.getElementById( 'form-form' );
    form.addEventListener
    (
        'submit',
        function( e )
        {
            e.preventDefault();
            grecaptcha.ready
            (
                function()
                {
                    grecaptcha.execute('6LdgGqIUAAAAAHpdLVgWjqNXRnedKs6eYt3pa8OK', {action: 'homepage'}).then
                    (
                        function( token )
                        {
                            var recaptchaResponse = document.getElementById('recaptchaResponse');
                            recaptchaResponse.value = token;
                            console.log( recaptchaResponse );
                            document.getElementById( 'form-form' ).submit();
                        }
                    );
                }
            );
        },
        false
    );
</script>

{% endblock %}
