{% extends 'base.html.twig' %}

{% block page %}
    <article class="res">
        <h1 class="nom res-nom">Image Alt Tags for <a href="{{ home }}">{{ home }}</a></h1>
        {% for webpage in webpages %}
            <div class="res-i">
                <h2 class="res-i-nom"><a href="{{ webpage.url }}">{{ webpage.url }}</a></h2>
                {% if webpage.alts is empty %}
                    <p class="gray">( no images )</p>
                {% else %}
                    {% include 'partials/alt-table.html.twig' %}
                {% endif %}
            </div>
        {% endfor %}

        <footer class="res-foot">
            <a href="index.php">Try another webpage</a>
        </footer>

    </article>
{% endblock %}
